.one{
	width: 100%;
	height: auto;
}
.one .about{
	background-image: url(../images/aktu.jpg);
	height: 40vh;
	background-position: top;
	background-attachment: fixed; 
}
.one .text{
	position: relative;
	top: 30%;
}
.one .text h1{
	font-family: Lato-Bold, sans-serif;
	text-align: center;
	color: white;
	font-size: 50px;
}
.one .text h1::selection{
	background-color: black;
	color: white;
}
.one .text p{
	font-family: Lato, sans-serif;
	margin-top: 15px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-style: italic;
}
.one .text p::selection{
	background-color: black;
	color: white;
}



.two{
	width: 100%;
	height: auto;
	padding-top: 50px;
}
.two .text{
	width: 80%;
	margin: 0 auto;
}
.two .text:last-child{
	padding-bottom: 60px;
}
.two .text h1{
	color: #333;
	font-family: Lato, sans-serif;
	font-style: normal;
}
.two .text p{
	font-family: Lato, sans-serif;
	color: #888;
	margin: 20px 0;
	font-style: italic;
}
.two .text .line{
	width: 70px;
	border: none;
	background-color: rgb(77, 139, 0);
	padding: 1px;
	margin: 20px 0;
}
@media only screen and (max-width: 768px){
	.two .text{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.two .text .line{
		margin: 20px auto;
	}
}
@media only screen and (max-width: 576px){
	.two .text{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.two .text .line{
		margin: 20px auto;
	}
}

.eleven{
	width: 100%;
	height: auto;
	padding: 40px;
}
.eleven .wrapper1{
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.eleven .float{
	width: 100%;
	height: auto;

}
.eleven .float .logo{
	width: 55%;
	float: left;
}
.eleven .float .text{
	width: 15%;
	float: right;
}
.eleven .float .text h3{
	color: rgb(77, 139, 0); 
	font-family: Lato, sans-serif;
	font-style: normal;
	margin-bottom: 20px;
}
.eleven .float .text a{
	display: block;
	color: #888;
	text-decoration: none;
	line-height: 2em;
	font-family: Lato, sans-serif;
}
.eleven .float .text a .face{
	color: #3B5998;
}
.eleven .float .text a .yt{
	color: red;
}
.eleven .float .text a .insta{
	color: pink;
}
.eleven .float .text p{
	display: block;
	color: #888;
	line-height: 2em;
	font-family: Lato, sans-serif;
}

footer{
	width: 100%;
	height: auto;
	clear: both;
	padding: 100px;
}
footer hr{
	border: 0.5px solid #ddd;
}
footer p{
	text-align: center;
	color: #999;
	margin-top: 20px;
}
@media only screen and (max-width: 768px){
	footer{
		padding: 60px;
	}
}
@media only screen and (max-width: 576px){
	footer{
		padding: 30px;
	}
}